.app{
  background-color: #edf3ef;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
  border-radius: 50px;
}
body{
  background-image: url(https://images.unsplash.com/photo-1512389055488-8d82cb26ba6c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fGNocmlzdG1hc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
}
h1{
  color:#253664 ;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bolder;
}
.container{
  display: flex;
  justify-content: center;
}
ul, li{
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Shadows Into Light', cursive;
}
.add {
  background: #65aa06;
  margin-top: 5px;
}

.delete {
  background: #d30100;
  margin-bottom: 5px;
}

.btn {
padding: 10px;
border: none;
width: 70%;
color: white;
font-size: 16px;
font-family: 'Shadows Into Light', cursive;
font-weight: bolder;
border-radius: 20px;
}

input{
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Shadows Into Light', cursive;
  border: none;
  border-radius: 5px;
}
.image{
  border-radius: 50%;
}
.imageTwo{
  margin-top: 20px;
  border-radius: 60px;
}
.crossed {
  text-decoration: line-through 2px red;
  text-decoration-line: line-through 2px red;
  -webkit-text-decoration-line: line-through;
  text-decoration-color: red;
  -webkit-text-decoration-color: red;
  background-color: white;
  border-radius: 5px;
  }
  

